<html>
<head>
    <title>LyricFinder</title><link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>
<body>

  <div class="header">
    <!-- <img src="music.png" alt="MusicLogo"/> -->
    <a href="\" class="logo">Logo</a>
    <div class="header-right">
      <a class="active" href="\">Home</a>
      <a href="#contact">FAQs</a>
      <a href="#about">About</a>
    </div>
  </div>

  <div>
    <h1 class="alt-h1 text-center mb-4 mb-md-6">
      {{ albumTitle }}
    </h1>
  </div>



    <div class="album-box">
      {% for trackNum, track in albumList.items() %}
      <form method="POST">
      <div class="user-box">
        <input type="submit" class="submitRecord" value="{{ track }}" name="albumSong">
        <input type = "hidden" value="{{ albumArtist }}" name="albumArtist">
      </div>
      </form>
      {% endfor %}
    </div>
    </div>
</body>
</html>