<html>
<head>
    <title>LyricFinder</title><link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>
<body>

  <div class="header">
    <!-- <img src="music.png" alt="MusicLogo"/> -->
    <a href="\" class="logo">Logo</a>
    <div class="header-right">
      <a href="\">Home</a>
      <a href="#contact">News & Metrics</a>
      <a class="active" href="/songLyrics">Lyrics</a>
    </div>
  </div>

  <div>
    <h1 class="alt-h1 text-center mb-4 mb-md-6">{{ artist ~ ' - ' ~ songName }}</h1>
  </div>

    <div class="lyric-box">
      
    <h6 class="alt-h6 text-center mb-4 mb-md-6">
      {{ lyrics | safe }}
      </h6>
    <!-- <h2 class="alt-h2 text-center mb-4 mb-md-6">Search</h2>
      <form method="POST">
        <div class="user-box">
          <input type="text" name="userInputSong">
          <label>Song</label>
        </div>
        <div class="user-box">
          <input type="text" name="userInputAlbum">
          <label>Album</label>
        </div>
        <div class="user-box">
          <input type="text" name="userInputArtist">
          <label>Artist</label>
        </div>
        <input type="submit" class="submitRecord" value="Submit">
      </form> -->
    </div>
    </div>
</body>
</html>