<html>
<head>
    <title>LyricFinder</title><link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>
<body>

  <div class="header">
    <!-- <img src="music.png" alt="MusicLogo"/> -->
    <a href="\" class="logo">LyricFinder</a>
    <div class="header-right">
      <a href="\">Home</a>
      <a class="active" href="#contact">FAQs</a>
    </div>
  </div>

  <div>
    <h1 class="alt-h1 text-center mb-4 mb-md-6">Frequently Asked Questions</h1>
    <h6 class="alt-h6 text-center mb-4 mb-md-6">
    For all your questions. Use these questions & answers
    <br>
    to better understand how the tool functions and the different capabilites.
    </h6>
  </div>

  <div class="album-box">
      <ul>
          <li><h4>How do I search for a song's lyrics?</h4></li>
            <h5>You will need to input a song and an artist in the form on the home page. You will be redirected to a lyric's page.</h3>
          <li><h4>How do I search the songs of a given album?</h4></li>
            <h5>You will need to input an album and an artist in the form on the home page. You will be redirected to a list of songs for that album.</h3>
          <li><h4>How do I search the discography of an artist?</h4></li>
            <h5>You will need to input an artist in the form on the home page. You will be redirected to a list of albums from the given artist.</h3>
      </ul>
      
      <br>
      <h4>Don't see your question(s) answered? Contact the <a href="#">admin</a></h4>
  </div>
  </div>
</body>
</html>